.ImageGrid {
    float: right;
    width: 944px;
    font-size: 0px;
}

.OhNo {
    text-align: center;
    line-height: 240px;
    width: 944px;
    float: right;
    color: #336699;
    padding-top: 80px;
}

.OhNo img {
    width: 100px;
    display: inline-block;
}
