.ImageGrid {
    padding: 16px 0px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-auto-rows: 200px;
    grid-gap: 8px;
}

.ImageGrid a {
    display: block;
}

.OhNo {
    text-align: center;
    line-height: 240px;
    color: #336699;
    padding-top: 80px;
}

.OhNo img {
    width: 100px;
    display: inline-block;
}
