.TagList {
    margin-top: 8px;
}

.TagList a {
    color: #5588CC;
    text-decoration: none;
    margin: 2px 0px;
    font-size: 15px;
    vertical-align: middle;
}

.TagList a:hover {
    color: black;
}

.Category--artist {
    color: #FF6677 !important;
}

.EditButton {
    color: #5588CC;
    cursor: pointer;
    font-size: 14px;
    vertical-align: baseline;
    margin-left: 8px;
}

.NewTags {
    border-bottom: 1px solid #DDF;
    margin-bottom: 8px;
    padding-bottom: 8px;
}
