.NavigationBar {
    background-color: white;
    grid-column: 1 / 2;
	border-right: 1px solid #CCF;
	display: flex;
	flex-direction: column;
	justify-items: right;
}

a.Logo {
    font-size: 32px;
    font-weight: normal;
    color: #5588CC;
    line-height: 56px;
    vertical-align: middle;
    font-family: 'Baumans';
    text-align: center;
    display: block;
    width: 100%;
}

.Button {
	height: 56px;
	display: block;
	position: relative;
	border: 1px solid white;
}

.Button:hover {
	border-top: 1px solid #CCDDFF;
	border-bottom: 1px solid #CCDDFF;
	cursor: pointer;
}

.Button span {
    width: 20px;
	height: 20px;
	display: block;
	text-align: center;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	color: #336699;
	font-size: 20px;
}
