.Root {
    border: 1px solid white;
    font-size: 14px;
    color: #5588CC;
    cursor: pointer;
    width: 100%;
    outline: 1px solid #DDF;
    padding: 0px 8px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
    margin-top: 8px;
}

.Root i {
    position: absolute;
    width: 15px;
    height: 15px;
    top: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    height: 100%;
    width: 40px;
    line-height: 38px;
}

.Root:hover {
    background-color: #5588CC;
    outline: 1px solid #5588CC;
    color: white;
}

.Root__active {
    composes: Root;
    background-color: #5588CC;
    outline: 1px solid #5588CC;
    color: white;
}

.Root__danger {
    composes: Root;
    outline: 1px solid #F34;
    color: #BB4433;
}

.Root__danger:hover {
    outline: 1px solid #F34;
    background-color: #FF3355;
}
