.Root {
    position: relative;
}

.TextInput,
.ShadowInput {
    border: 1px solid #CCF;
    color: #336699;
    font-size: 14px;
    line-height: 38px;
    padding: 0px 8px;
    width: 100%;
}

.ShadowInput {
    position: absolute;
    z-index: -1;
    top: 0px;
    left: 0px;
    color: #AAA;
    border: 1px solid transparent;
    background-color: red;
}

.TextInput {
    background-color: white;
}
