.Root {
    width: 1200px;
    margin: 40px auto;
    display: grid;
    grid-template-columns: repeat(32, 1fr);
    grid-template-rows: repeat(16, 40px);
    grid-gap: 16px;
}

.TagManager {
    grid-column: 1 / 8;
    grid-row: 1 / 17;
}

.TagManager p {
    font-size: 14px;
    padding: 0px;
    color: #88B;
    margin-bottom: 16px;
    text-align: center;
}

.UploadGrid {
    grid-column: 8 / 33;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 8px;
}

.Slot {
    text-align: center;
    font-size: 14px;
    height: 152px;
    cursor: pointer;
    background-color: white;
}

.Upload {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.Upload_selected {
    border: 4px dashed #5588CC;
    outline: 1px solid #5588CC;
}

.UploadSquare {
    width: 100%;
    height: 100%;
    border: 1px dashed #BBF;
    background-color: white;
    position: relative;
}

.UploadSquare span {
    text-align: center;
    color: #5588CC;
    display: inline-block;
    margin: auto;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 72px;
    height: 72px;
    position: absolute;
}

.UploadSquare span i {
    font-size: 32px;
}

.Tags {
    width: 240px;
    float: left;
}

.Uploader {
    width: 940px;
    float: right;
}

.UploadManager {
    cursor: pointer;
    outline: 1px solid #DDF;
    border: 8px solid white;
    margin-bottom: 8px;
    color: #336699;
    text-align: center;
    min-height: 800px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: green;
}

.UploadManager input {
    display: none;
}

.TagList {
    margin-top: 16px;
}
