.Root {
    height: 100%;
	display: grid;
	grid-template-columns: 56px auto;
}

.Container {
    display: grid;
	height: 100%;
	overflow-y: scroll;
	grid-template-columns: 240px auto;
}

.TagManager {
    grid-column: 1 / 8;
    grid-row: 1 / 17;
}

.TagManager p {
    font-size: 14px;
    padding: 0px;
    color: #88B;
    margin-bottom: 16px;
    text-align: center;
}

.Tags {
    width: 240px;
    float: left;
}

.Uploader {
    width: 940px;
    float: right;
}

.UploadManager {
    cursor: pointer;
    outline: 1px solid #DDF;
    border: 8px solid white;
    margin-bottom: 8px;
    color: #336699;
    text-align: center;
    min-height: 800px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-color: green;
}

.UploadManager input {
    display: none;
}

.TagList {
    margin-top: 16px;
}
