.Root {
    cursor: pointer;
    outline: 1px solid #DDF;
    border: 8px solid white;
    margin-bottom: 8px;
    color: #336699;
    text-align: center;
    min-height: 800px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.Root > input {
    opacity: 0;
}
