.SearchSideBar {
    width: 240px;
    float: left;
    padding-right: 8px;
}

.TagList {
    margin-top: 24px;
}

.TagList a {
    color: #5588FF;
    text-decoration: none;
    display: block;
    margin: 2px 0px;
    font-size: 15px;
}

.Category--artist {
    color: #FF6677 !important;
}

.TagList a:hover {
    color: black;
}
