.Root {
    width: 240px;
    float: left;
    padding-right: 8px;
}

.Root h1 {
    font-size: 18px;
    border-bottom: 1px solid #DDF;
    padding-bottom: 8px;
    color: #336699;
    font-weight: normal;
    margin: 0px;
    margin-top: 48px;
    margin-bottom: 8px;
}

.Buttons {
    margin-top: 8px;
}
