.Root {
    border: 1px solid white;
    color: #5588CC;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    min-width: 40px;
    outline: 1px solid #EEF;
    padding: 0px 8px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    line-height: 38px;
}

.Root:last-of-type {
    margin-right: 0px;
}

.Root:hover {
    background-color: #5588CC;
    outline: 1px solid #5588CC;
    color: white;
}

.Root__active {
    background-color: #5588CC;
    outline: 1px solid #5588CC;
    color: white;
}

.Root__small {
    min-width: 16px;
    line-height: 32px;
}
