.Root {
    border: 1px solid white;
    color: #5588CC;
    cursor: pointer;
    display: inline-block;
    margin-right: 8px;
    min-width: 40px;
    outline: 1px solid #DDF;
    padding: 8px;
    position: relative;
    text-align: center;
    vertical-align: middle;
}

.Root:last-of-type {
    margin-right: 0px;
}

.Root:hover {
    background-color: #5588CC;
    outline: 1px solid #5588CC;
    color: white;
}

.Root :global(.ToolTip) {
    bottom: -48px;
    transition:
        0.1s opacity,
        0.1s bottom;
}

.Root:hover :global(.ToolTip) {
    opacity: 1;
    bottom: -38px;
}

.Root__active {
    composes: Root;
    background-color: #5588CC;
    outline: 1px solid #5588CC;
    color: white;
}
