.IconButton {
    display: inline-block;
    border: 1px solid white;
    padding: 8px;
    color: #5599FF;
    cursor: pointer;
    text-align: center;
    outline: 1px solid #DDF;
    vertical-align: middle;
    min-width: 40px;
    margin-right: 8px;
}

.IconButton:last-of-type {
    margin-right: 0px;
}

.Active,
.IconButton:hover {
    background-color: #5599FF;
    outline: 1px solid #5599FF;
    color: white;
}
