.Image {
    border-left: 16px solid white;
    border-bottom: 16px solid white;
    width: 160px;
    display: inline-block;
    background-image: url('https://i.imgur.com/aG7C0Zx.jpg');
    background-size: cover;
    background-position: center;
    background-color: #EEF;
    min-height: 160px;
    position: relative;
}

.Image--empty {
    background-color: #EEF;
    background-image: none;
}

.Resolution {
    background-color: rgba(22, 22, 22, 0.9);
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    bottom: 0;
    border-top: 1px solid white;
    font-family: 'Titillium Web', sans-serif;
}
