/* Components */
.Root {
    background-color: #F3F3FF;
    background-position: center;
    background-size: cover;
    border-bottom: 16px solid white;
    border-left: 16px solid white;
    cursor: pointer;
    display: inline-block;
    height: 160px;
    position: relative;
    width: 160px;
}

.Resolution {
    background-color: rgba(22, 22, 22, 0.8);
    border-bottom: 1px solid white;
    color: white;
    display: inline-block;
    font-family: 'Titillium Web', sans-serif;
    font-size: 11px;
    line-height: 20px;
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

.Root:hover .Resolution {
    opacity: 1;
}

/* States */
.Root__empty {
    background-color: #F3F3FF;
    background-size: auto;
}
