/* Components */
.Root {
    background-color: #EEF;
    background-image: url('https://i.imgur.com/aG7C0Zx.jpg');
    background-position: center;
    background-size: cover;
    border-bottom: 16px solid white;
    border-left: 16px solid white;
    cursor: pointer;
    display: inline-block;
    height: 160px;
    position: relative;
    width: 160px;
}

.Resolution {
    opacity: 0;
    background-color: rgba(22, 22, 22, 0.8);
    color: white;
    display: inline-block;
    width: 100%;
    font-size: 11px;
    line-height: 20px;
    text-align: center;
    position: absolute;
    border-bottom: 1px solid white;
    font-family: 'Titillium Web', sans-serif;
}

.Root:hover .Resolution {
    opacity: 1;
}

/* States */
.empty {
    background-color: #EEF;
    background-image: none;
}
