* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Lato, sans-serif;
}

html, body {
    padding-bottom: 32px;
}

a {
    text-decoration: none;
    color: #336699;
}

/* ClearFix */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}

/* Shared Global Pages */
.Page {}
