/* Global Styles */
/* -------------------------------------------------------------------------- */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    font-family: Lato, sans-serif;
}

html, body {
    height: 100%;
    padding-bottom: 32px;
    background-color: #F9F9FF;
}

a {
    text-decoration: none;
    color: #336699;
}


/* Utilities */
/* -------------------------------------------------------------------------- */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}


/* Shared Global Pages */
/* -------------------------------------------------------------------------- */
.Page {
    height: 100%;
}

.Title {
    font-size: 18px;
    padding-bottom: 8px;
    color: #336699;
    font-weight: normal;
    margin: 0px 4px;
    margin-bottom: 24px;
    margin-top: 40px;
}

.Title--underline {
    font-size: 18px;
    padding-bottom: 8px;
    color: #336699;
    font-weight: normal;
    margin: 0px 0px;
    margin-bottom: 24px;
    margin-top: 40px;
    border-bottom: 1px solid #DDF;
}
