.Pager {
    border-top: 1px solid #DDF;
    margin-left: 2px;
    padding-top: 32px;
    margin-top: 16px;
    font-size: 14px;
    float: right;
    width: 944px;
}

.LeftIcons,
.RightIcons {
    width: 50%;
    display: inline-block;
}

.RightIcons {
    text-align: right;
}

.IconRow {
    display: inline-block;
    border-right: 1px solid #EEE;
    padding-right: 16px;
    margin-left: 16px;
}

.IconRow:last-of-type {
    border-right: 0px;
    padding-right: 0px;
}
